@model IEnumerable<_3dPrinter.Domain.Entity.Filament>

@{
    ViewBag.Title = "Filaments";
    Layout = "_Layout";
}

<h2>List of Filaments</h2>
<div id="PlaceHolderHere"></div>
<p>
<button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#addFilament"
        data-url="@Url.Action("AddEdit")">New Filament</button>
<table class="table">
    <thead>
    <tr>
        <th>Filament</th>
        <th>Manufacturer</th>
        <th>Temp of print</th>
        <th>Price</th>
    </tr>
    </thead>
    @if (Model == null)
    {
        <tbody>
        <tr>
            <td colspan="4">
                <div class="d-flex justify-content-center">
                    List of filaments is empty. Please add new filament
                </div>
            </td>
        </tr>
        </tbody>
    }
    else
    {
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Manufacturer</td>
                <td>@item.TempOfPrint</td>
                <td>@item.Price</td>
                <td>
                    <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#addFilament"
                            data-url="@Url.Action($"AddEdit/{item.Id}")">Edit</button>
                    <button type="button" class="btn btn-danger" data-toggle="ajax-modal" data-target="#delFilament"
                            data-url="@Url.Action($"Delete/{item.Id}")">Delete</button>
                </td>
            </tr>
        }
        </tbody>
    }
</table>

